<a href="https://colab.research.google.com/github/steve-keys/Assignment---1--Intro-to-Programming/blob/main/assignment_cleanup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kora -q

'''load packages'''
from bs4 import BeautifulSoup
from kora.selenium import wd

     |████████████████████████████████| 57 kB 2.7 MB/s
     |████████████████████████████████| 56 kB 3.9 MB/s

In [10]:
def get_ticker():
  company_ticker = input("What is your Company's Stock Market Ticker Symbol? ")
  url = "https://au.finance.yahoo.com/quote/{}/profile?p={}".format(company_ticker,company_ticker)
  return url

In [11]:
# Now I can create a function to extract these first three cells....
def get_name_title_pay(row):
  cells = row.find_all('td')
  name = cells[0].text
  title = cells[1].text
  pay = cells[2].text
  return {'name': name, 'title':title, 'pay': pay}
  # this is returning a dictionary - 'name' is a key for example

In [12]:
def get_exec_details(soup):
  table = soup.find('table')
  body = table.find('tbody')
  rows = body.find_all('tr')
  
  exec_details = []
  for row in rows:
    result = get_name_title_pay(row)
    exec_details.append(result)
  return exec_details

In [14]:
def get_salary(rec):
  pay = rec['pay']
  last_char = pay[-1]
  num_part = pay[0:-1]

  if last_char == 'M':
    salary = float(num_part) * 1000000
  elif last_char == 'k':
    salary = float(num_part) * 1000
  else:
    salary = 0

  return salary

In [16]:
def calculate_tax (income):
  if income <= 18200:
    tax_payable = 0
  elif 18200 < income <= 45000: 
    tax_payable = 0.19 * (income - 18200)
  elif 45000 < income <= 120000:
    tax_payable = 5092 + 0.32 * (income - 45000)
  elif 120000 < income <= 180000:
    tax_payable = 29467 + 0.37 * (income - 120000)
  elif income > 180000:     
    tax_payable = 51667 + 0.45 * (income - 180000)        
  
  return tax_payable

In [19]:
# The following code will now go to the page using the url supplied in the "get_ticker" function above, and extract the data needed for processing the tax
url = get_ticker()
wd.get(url)
soup = BeautifulSoup(wd.page_source, "html.parser")
records = get_exec_details(soup)

for record in records:
  result = get_salary(record)
  income_tax = calculate_tax(result)
  record['tax'] = income_tax

records

What is your Company's Stock Market Ticker Symbol? nab.ax

[{'name': 'Mr. Ross Maxwell McEwan CBE, B.B.S.',
  'pay': '2.54M',
  'tax': 1113667.0,
  'title': 'Group CEO, MD & Director'},
 {'name': 'Mr. Gary Andrew Lennon BEC, F.C.A., BEc (Hons), FCA',
  'pay': '1.13M',
  'tax': 479167.0,
  'title': 'Group Chief Financial Officer'},
 {'name': 'Mr. Patrick F. Wright',
  'pay': '1.72M',
  'tax': 744667.0,
  'title': 'Group Exec. of Technology & Enterprise Operations'},
 {'name': 'Ms. Sharon J. Cook',
  'pay': '912.98k',
  'tax': 381508.0,
  'title': 'Group Exec. of Legal & Commercial Services'},
 {'name': 'Ms. Susan  Ferrier',
  'pay': '929.27k',
  'tax': 388838.5,
  'title': 'Group Exec. of People & Culture'},
 {'name': 'Ms. Angela  Mentis B.Bus',
  'pay': '1.62M',
  'tax': 699667.0,
  'title': 'Group Chief Digital, Data & Analytics Officer'},
 {'name': 'Mr. Shaun  Dooley',
  'pay': '1.05M',
  'tax': 443167.0,
  'title': 'Chief Risk Officer'},
 {'name': 'Mr. Andrew  Irvine',
  'pay': '333.27k',
  'tax': 120638.5,
  'title': 'Chief Exec. of Bus. Private Banking Division'},
 {'name': 'Mr. Lesile D. Matheson',
  'pay': 'N/A',
  'tax': 0,
  'title': 'Group Chief Operating Officer'},
 {'name': 'Ms. Sally  Mihell',
  'pay': 'N/A',
  'tax': 0,
  'title': 'Head of Investor Relations'}]

In [15]:
for r in records:
  result = get_salary(r)
  print(result)

3550000.0
1540000.0
2860000.0
1290000.0
1850000.0
2040000.0
1480000.0
1690000.0
0
0

In [17]:
for r in records:
  result = get_salary(r)
  income_tax = calculate_tax(result)
  
  print(income_tax)
  r['tax'] = income_tax
  print(r)

1568167.0
{'name': 'Mr. Matthew  Comyn', 'title': 'CEO, MD & Exec. Director', 'pay': '3.55M', 'tax': 1568167.0}
663667.0
{'name': 'Mr. Alan  Docherty', 'title': 'Group Exec. of Financial Services & CFO', 'pay': '1.54M', 'tax': 663667.0}
1257667.0
{'name': 'Mr. Pascall  Boillat', 'title': 'Chief Information Officer & Group Exec. of Enterprise Services', 'pay': '2.86M', 'tax': 1257667.0}
551167.0
{'name': 'Ms. Sian  Lewis', 'title': 'Group Exec. of HR', 'pay': '1.29M', 'tax': 551167.0}
803167.0
{'name': 'Mr. David Antony Keith Cohen B.A., L.L.B.', 'title': 'Deputy Chief Exec. Officer', 'pay': '1.85M', 'tax': 803167.0}
888667.0
{'name': 'Mr. Nigel  Williams', 'title': 'Group Chief Risk Officer', 'pay': '2.04M', 'tax': 888667.0}
636667.0
{'name': 'Ms. Vittoria Annabel June Shortt BMS, CA', 'title': 'Chief Exec. & MD of ASB Bank Ltd.', 'pay': '1.48M', 'tax': 636667.0}
731167.0
{'name': 'Mr. Mike  Vacy-Lyle', 'title': 'Group Exec. of Bus. & Private Banking', 'pay': '1.69M', 'tax': 731167.0}
0
{'name': 'Hanh  Nguyen', 'title': 'Chief Representative and Director of Investment & Banking', 'pay': 'N/A', 'tax': 0}
0
{'name': 'Melanie  Kirk', 'title': 'Head of Investor Relations', 'pay': 'N/A', 'tax': 0}

In [18]:
print(records)

[{'name': 'Mr. Matthew  Comyn', 'title': 'CEO, MD & Exec. Director', 'pay': '3.55M', 'tax': 1568167.0}, {'name': 'Mr. Alan  Docherty', 'title': 'Group Exec. of Financial Services & CFO', 'pay': '1.54M', 'tax': 663667.0}, {'name': 'Mr. Pascall  Boillat', 'title': 'Chief Information Officer & Group Exec. of Enterprise Services', 'pay': '2.86M', 'tax': 1257667.0}, {'name': 'Ms. Sian  Lewis', 'title': 'Group Exec. of HR', 'pay': '1.29M', 'tax': 551167.0}, {'name': 'Mr. David Antony Keith Cohen B.A., L.L.B.', 'title': 'Deputy Chief Exec. Officer', 'pay': '1.85M', 'tax': 803167.0}, {'name': 'Mr. Nigel  Williams', 'title': 'Group Chief Risk Officer', 'pay': '2.04M', 'tax': 888667.0}, {'name': 'Ms. Vittoria Annabel June Shortt BMS, CA', 'title': 'Chief Exec. & MD of ASB Bank Ltd.', 'pay': '1.48M', 'tax': 636667.0}, {'name': 'Mr. Mike  Vacy-Lyle', 'title': 'Group Exec. of Bus. & Private Banking', 'pay': '1.69M', 'tax': 731167.0}, {'name': 'Hanh  Nguyen', 'title': 'Chief Representative and Director of Investment & Banking', 'pay': 'N/A', 'tax': 0}, {'name': 'Melanie  Kirk', 'title': 'Head of Investor Relations', 'pay': 'N/A', 'tax': 0}]