<a href="https://colab.research.google.com/github/steve-keys/Assignment---1--Intro-to-Programming/blob/main/Copy_of_sql_shell.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SQL via Python

In this notebook we discuss all the CRUD operations on a SQLite 3 database in Python.

We assume some basic understanding ot SQL

## Import the library

In [ ]:
import sqlite3

## Create a connection

We use the connect method and pass the name of the database

In [ ]:
conn = sqlite3.connect("mytest.db")

## Create a cursor object

A cursor acts a middleware between a connection and SQL query

In [ ]:
cursor = conn.cursor()

# Create Table

Use a common 'pattern'

1. Create a SQL command as a string
2. User cursor to execture the command
3. If needed fetch the results

In [ ]:
query = """
  CREATE TABLE USER (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER
);
"""

In [ ]:
cursor.execute(query)

NameError: ignored

# Insert into Table

In [ ]:
query = "INSERT INTO user VALUES (1, 'Michael', 21);"

In [ ]:
cursor.execute(query)

## Fetching Data

In [ ]:
query = "SELECT * FROM user;"

cursor.execute(query)

In [ ]:
result = cursor.fetchall()
result[0]

(0, 'Michael', 21)

## Updating Data

In [ ]:
query = """
UPDATE user SET name = "Batman" WHERE name = 'Michael';
"""

In [ ]:
conn.execute(query)

In [ ]:
query = "SELECT * FROM user;"
cursor.execute(query)
result = cursor.fetchall()
result

[(0, 'Batman', 21), (1, 'Michael', 21)]

## Delete Data

In [ ]:
query = """
DELETE FROM user WHERE name = 'Batman';
"""
conn.execute(query)
query = "SELECT * FROM user;"
cursor.execute(query)
result = cursor.fetchall()
result

[(1, 'Michael', 21)]

## View Schema

In [ ]:
query = "SELECT name FROM sqlite_master WHERE type = 'table';"
cursor.execute(query)
result = cursor.fetchall()
result

[('USER',), ('sqlite_sequence',)]

In [ ]:
def get_tables(cursor):
  query = "SELECT name FROM sqlite_master WHERE type = 'table';"
  cursor.execute(query)
  result = cursor.fetchall()

  tables = []
  for item in result:
    tables.append(item[0])

  return(tables)

get_tables(cursor)

['USER', 'sqlite_sequence']

In [ ]:
for table in get_tables(cursor):
  cursor.execute("PRAGMA table_info('%s')" % table)
  result = cursor.fetchall()
  print(table + ":" + str(result) + '\n')

USER:[(0, 'id', 'INTEGER', 1, None, 1), (1, 'name', 'TEXT', 0, None, 0), (2, 'age', 'INTEGER', 0, None, 0)]

sqlite_sequence:[(0, 'name', '', 0, None, 0), (1, 'seq', '', 0, None, 0)]

## Delete Table