<a href="https://colab.research.google.com/github/steve-keys/Assignment---1--Intro-to-Programming/blob/main/IntroProgramingAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment - Keys Executives Pay

#Task
Write a notebook that prompts the user for a company's stock market ticker symbol. Your program then
scrapes the Yahoo Finance website to extract information on the key of the company. Then for each
executive calculate the expected income tax based on the ATO tax tables. The user can choose if the data
will be saved as a CSV and/or stored in an SQLite database.

#Approach / Planning
My approach to this task began by utilizing the design model we were taught early in the semester, breaking the task down into smaller steps. The main steps I thought about were:

 * Inputs
 * Processing 
 * Outputs 

 I  then broke each of these main categories down into smaller tasks again, as outlined below.

 I began with "inputs" as it seemed a logical place to start and I like the input prompt function input(). Working out how to include input validation for the stock market ticker will be much more challenging however.

 ## Need to research input validation for stock market ticker symbol using form of 3 capital dot AX  e.g. NAB.AX

##INPUTS#
1. Get Company Stock Market Ticker Symbol
  * find url - start with Google search for Yahoo Finance page

  * Need to find a way to validate the input
2. Locate table of Key Executives and their salaries from Yahoo Finance page
3. Scrap page for salary data

In [1]:
company_ticker = input("What is your Company's Stock Market Ticker Symbol? ")
print(company_ticker)

What is your Company's Stock Market Ticker Symbol? CBA.AX
CBA.AX

In [4]:
# Search google to Find the URL
 # url = https://au.finance.yahoo.com/quote/NAB.AX/profile?p=NAB.AX

 # Looking at different companies on the finance page, a pattern in the url became apparent

 # https://au.finance.yahoo.com/quote/ANZ.AX/profile?p=ANZ.AXA
 # https://au.finance.yahoo.com/quote/CBA.AX/profile?p=CBA.AX

 # The ticker symbol consistently appeared in the same two places in the url string

 # I then looked for a way to make place holders in the url to accomodate these ticker symbols as variables, that would change according to the input given by the user


# Write code to insert tickers in the correct place holders in the URL

In [5]:
# Explore how to place variable into a string - e.g. Company Ticker into url
company_ticker = 'NAB.AX'
url = 'https://au.finance.yahoo.com/quote/{}/profile?p={}'.format(company_ticker)
print(url)

IndexError: ignored

In [11]:
# Eventually I discoverd through some research that even though there is only one variable in the string, because it appears in two places we need to enter it twice in the format function

company_ticker = 'NAB.AX'
url = "https://au.finance.yahoo.com/quote/{}/profile?p={}".format(company_ticker,company_ticker)
print(url)

https://au.finance.yahoo.com/quote/NAB.AX/profile?p=NAB.AX

In [12]:
company_ticker = input("What is your Company's Stock Market Ticker Symbol? ")
url = "https://au.finance.yahoo.com/quote/{}/profile?p={}".format(company_ticker,company_ticker)
print(url)

What is your Company's Stock Market Ticker Symbol? ANZ.AX
https://au.finance.yahoo.com/quote/ANZ.AX/profile?p=ANZ.AX

##PROCESSING#

1. Use salary data to compute the tax payable for each executive
2. Use tax tables and functions created in previous notebook to calculate tax payable

In [ ]:
## Steps
#1. Get the income
#2. Calculate the tax payable

# Step 1 - Get the income amount
income = int(input("What is your income for the year? "))
print("Your income is " , income)

# Step 2 - Calculate the tax payable
# if you earn $18,200, then pay no tax
# else if you earn between $18,201 â€“ $45,000, 
#    then pay 0.19 cents for every dollar over 18,200

if income <= 18200:
  tax_payable = 0
elif 18200 < income <= 45000: 
  tax_payable = 0.19 * (income - 18200)
elif 45000 < income <= 120000:
  tax_payable = 5092 + 0.32 * (income - 45000)
elif 120000 < income <= 180000:
  tax_payable = 29467 + 0.37 * (income - 120000)
elif income > 180000:     
  tax_payable = 51667 + 0.45 * (income - 180000)        
print("Your tax payable is ", tax_payable)

In [ ]:
def get_income():
  '''
  This function will prompt the user for the income and return the value
  '''
  income = int(input("What is your income for the year? "))
  print("Your income is " , income)
  return income

In [ ]:
def calculate_tax (income):
  if income <= 18200:
    tax_payable = 0
  elif 18200 < income <= 45000: 
    tax_payable = 0.19 * (income - 18200)
  elif 45000 < income <= 120000:
    tax_payable = 5092 + 0.32 * (income - 45000)
  elif 120000 < income <= 180000:
    tax_payable = 29467 + 0.37 * (income - 120000)
  elif income > 180000:     
    tax_payable = 51667 + 0.45 * (income - 180000)        
  
  return tax_payable

In [ ]:
# 'Main line'

# Step 1
income = get_income ()
# Step 2
tax = calculate_tax(income)

print("Your tax payable is ", tax)

# Lets manually calculate the income tax
```
Mr. Ross Maxwell McEwan CBE, B.B.S.	Group CEO, MD & Director	2.54M	N/A	1957
Mr. Gary Andrew Lennon BEC, F.C.A., BEc (Hons), FCA	Group Chief Financial Officer	1.13M	N/A	N/A
Mr. Patrick F. Wright	Group Exec. of Technology & Enterprise Operations	1.72M	N/A	1967
Ms. Sharon J. Cook	Group Exec. of Legal & Commercial Services	912.98k	N/A	N/A
Ms. Susan Ferrier	Group Exec. of People & Culture	929.27k	N/A	N/A
Ms. Angela Mentis B.Bus	Group Chief Digital, Data & Analytics Officer	1.62M	N/A	N/A
Mr. Shaun Dooley	Chief Risk Officer	1.05M	N/A	N/A
Mr. Andrew Irvine	Chief Exec. of Bus. Private Banking Division	333.27k	N/A	N/A
Mr. Lesile D. Matheson	Group Chief Operating Officer	N/A	N/A	1960
Ms. Sally Mihell	Head of Investor Relations	N/A	N/A	N/A
```

##OUTPUTS#
Save data in CSV and/or
Store in an SQLite database

User to choose how data is saved